.DS_Store
node_modules/
/.cache
/build
/server-build
/public/build
/coverage
.build
.cache
package-lock.json
pnpm-lock.yaml
result
.logs
.next
dist
!.github/workflows/*.yml
!.github/workflows/*.yaml
!pnpm-workspace.yaml
**/dist/**
dist
logs
_
!.eslintrc.cjs
!.prettierrc.cjs
!*.json
apps
packages