---
import { pageRoutes, projectLinks } from '#/lib/constants'

/**
 * TODO: Add header links to this footer and make under `sm` size breakpoint
 */
---

<footer hidden>
  {
    pageRoutes.map((route, index) => (
      <li class='inline'>
        <a
          href={route.href}
          class='capitalize'
        >
          <span>{route.text}</span>
        </a>
      </li>
    ))
  }
  <!-- below this point should be sticky items -->
  <section>
    {
      projectLinks.map((link, index) => (
        <li class='inline'>
          <a
            href={link.href}
            class='capitalize'
          >
            <span>{link.text}</span>
          </a>
        </li>
      ))
    }
  </section>
</footer>
