---

---

<div class='my-auto pb-2.5'>
  <input
    placeholder='Search ENS or 0x address'
    class:list={[
      'rounded-xl border-none bg-white bg-opacity-50 w-96 h-10 pl-4',
      'text-md font-serif text-black/80 text-left font-semibold placeholder:text-black/20',
    ]}
  />
</div>
