@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

*:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}

html,
body,
#root {
  overflow-x: hidden;
  justify-items: center;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  background: linear-gradient(180deg, #fef305 0%, #ff79c9 55%), #333;
  font-variant-numeric: tabular-nums;
}

/* Disable zoom in iOS Safari when double tapping an element */
button {
  touch-action: manipulation;
}

button:hover {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0.15em;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  width: 0.3em;
  background-color: hsl(218, 14%, 11%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  width: 0.3em;
  scrollbar-color: transparent;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

[data-font="ibm-plex-sans"] {
  font-family: "IBM Plex Sans", sans-serif;
}

:focus:not(:focus-visible) {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  background-clip: content-box !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  background-clip: content-box !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: IBM Plex Sans, sans-serif;
}

[hidden] {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/** scrollbar */
*::-webkit-scrollbar {
  height: 0rem;
  width: 0rem;
  -webkit-appearance: none;
  color: transparent;
  background: transparent;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

::selection {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* table {
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
} */

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

/* radix ui table */
/* .rt-TableRoot {
  width: fit-content;
  margin: auto;
} */

.rt-TableRootTable {
  --table-row-box-shadow: unset !important;
}

.rt-SelectTriggerInner {
  text-transform: capitalize;
}
