@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-position: -34.1vw -34vw;
  background-size: 210vw 129vw;
  background-attachment: fixed;
  /* background-image: url("https://testing.ethfollow.xyz/assets/art/waves-background.svg"); */
  @apply text-darkGrey dark:text-[#eeeeee] bg-white dark:bg-darkGrey
}

/* Disable zoom in iOS Safari when double tapping an element */
button {
  touch-action: manipulation;
}

button:hover {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  width: 0.3em;
  background-color: hsl(218, 14%, 11%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  width: 0.3em;
  scrollbar-color: transparent;
}

.glass-card {
    backdrop-filter: blur(1rem);
    @apply from-[#f5f5f526] to-[#f5f5f520] bg-gradient-to-br;
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/** scrollbar */
*::-webkit-scrollbar {
  height: 0rem;
  width: 0rem;
  -webkit-appearance: none;
  color: transparent;
  background: transparent;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  outline: none;
}

.title {
  text-wrap: balance;
}

.mirror-x {
  transform: scaleX(-1);
}

.scroll-indicator {
  bottom: 0;
  color: #888;
  left: 50%;
  margin-left: -3rem;
  position: fixed;
  text-align: center;
  width: 5rem;
  animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

.connect-button {
  background:
    linear-gradient(#fafafa, #fafafa) padding-box,
    linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 5px solid transparent;
  border-radius: 40px;
  transition: background 100ms ease-in-out;
}

.dark .connect-button {
  background:
    linear-gradient(#333333, #333333) padding-box,
    linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 5px solid transparent;
  border-radius: 40px;
  transition: background 100ms ease-in-out;
}

.connect-button:hover {
  background:
  linear-gradient(135deg, #fffee2, #fdf2f9) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
}

.dark .connect-button:hover {
  background:
  linear-gradient(135deg, #333333cc, #333333cc) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
}

.connect-button-open {
  background:
  linear-gradient(135deg, #fffee2, #fdf2f9) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 5px solid transparent;
  border-radius: 40px;
  transition: background 100ms ease-in-out;
}

.dark .connect-button-open {
  background:
  linear-gradient(135deg, #333333cc, #333333cc) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 5px solid transparent;
  border-radius: 40px;
  transition: background 100ms ease-in-out;
}

.gradient-border {
  background:
  linear-gradient(#fafafa, #fafafa) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 3px solid transparent;
}

.dark .gradient-border {
  background:
  linear-gradient(#333333, #333333) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 3px solid transparent;
}

.btn-grad {
  background: linear-gradient(to right, #FFE066 0%, #FFE066 30%, #fff981 75%, #ffafde  100%);
  text-align: center;
  background-size: 300% auto;
  transition: all .3s;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  transition: all .3s;
   /* change the direction of the change here */
}

.btn-following-pending {
  background:
  linear-gradient(#fafafa, #fafafa) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 3px solid transparent;
  transition: all 200ms ease-in-out;
}

.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis ease-in-out 2000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
50% {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  50% {
    width: 1.25em;
  }
}

.btn-following {
  background:
  linear-gradient(#fafafa, #fafafa) padding-box,
  linear-gradient(135deg, #faf35f, #ffbce3) border-box;
  border: 3px solid transparent;
  transition: all 200ms ease-in-out;
}

/* Loaders */
.loader {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  margin-left: -20px;
  margin-top: -20px;
  animation: spin 1s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.loader:after {
  animation-duration: 4s;
}

.gray-loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, rgb(153, 153, 153) 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,rgb(153, 153, 153));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation: spin 1s infinite linear;
  margin-left: -10px;
  margin-top: -10px;
}

@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

/* Primary list toggle */
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "yes no";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -24px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4ADE80;
}

.toggle:checked:before {
  left: 32px;
}

/* Leaderboard top three */
.first-place, .second-place, .third-place {
	position: relative;
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}

.first-place {
  color: transparent;
  background-image: linear-gradient(to right, transparent 0%, transparent 46%,white 50%,transparent 54%,transparent 100%), linear-gradient(90deg, #d8c078, #dbb74d 9.4%, #d8af34 9.4%, #dcb233 33.6%, #d8b13a 35.7%, #d9b137 46.9%, #d2a82b 51.7%, #d1a729 52.1%, #d7ad2e 64.6%, #dab440 68.5%, #dcbd60 73.2%, #d8c078);
  background-position: 110% 0%, 0 0;
  background-size: 200% auto, auto;
  -webkit-background-clip: text;
	background-clip: text;
  animation: shine 2s ease-in-out infinite;
}

.first-place:before {
	content: 1;
	color: #e1d48c;
	position: absolute;
	z-index: -1;
	top: -.08vw;
	left: 0px;
	text-shadow: rgba(black, 1) 0px .08vw 12px;
}

.first-place:after {
  content: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%,transparent 48%,rgba(#621000, .5) 50%,transparent 75%);
  -webkit-background-clip: text;
  background-clip: text;
}

.second-place {
		color: transparent;
		background-image: linear-gradient(to right, transparent 0%, transparent 46%,white 50%,transparent 54%,transparent 100%), linear-gradient(270deg, #8c8c8c 1.3%, #999 15%, #868686 29.6%, #828282 29.6%, #7d7d7d 31.8%, #797979 31.8%, #6a6a6a 38.9%, #d3d3d3);
		background-position: 110% 0%, 0 0;
		background-size: 200% auto, auto;
		-webkit-background-clip: text;
		background-clip: text;
		animation: shine 2s ease-in-out infinite;
    animation-delay: 250ms;
}

.second-place:before {
	content: 2;
	color: #fff;
	position: absolute;
	z-index: -1;
	top: -.08vw;
	left: 0px;
	text-shadow: rgba(black, 1) 0px .08vw 12px;
}

.second-place:after {
  content: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%,transparent 48%,rgba(#111, .5) 50%,transparent 75%);
  -webkit-background-clip: text;
  background-clip: text;
}

.third-place {
  color: transparent;
  background-image: linear-gradient(to right, transparent 0%, transparent 46%,white 50%,transparent 54%,transparent 100%), linear-gradient(90deg, #c78c48, #cf9147 9.4%, #cf9348 9.4%, #b2763e 33.6%, #ad743c 35.7%, #ac723d 46.9%, #b0773d 51.7%, #b0793e 52.1%, #c4914c 64.6%, #c99750 68.5%, #ce9e54 73.2%, #f4d188);
  background-position: 110% 0%, 0 0;
  background-size: 200% auto, auto;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 2s ease-in-out infinite;
  animation-delay: 500ms;
}

.third-place:before {
  content: 1;
  color: #f0d8a9;
  position: absolute;
  z-index: -1;
  top: -.08vw;
  left: 0px;
  text-shadow: rgba(black, 1) 0px .08vw 12px;
}

.third-place:after {
  content: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%,transparent 48%,rgba(#621000, .5) 50%,transparent 75%);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes shine {
  0% {
    background-position: 110% 0%, 0 0;
  }
  100% {
     background-position: -0% 0%, 0 0;
  }
}

@keyframes loadingAnimation {
    0% {
      background-position: '200% 0'
    }
    50% {
      background-position: '0% 0'
    }
    100% {
      background-position: '-200% 0'
    }
}

/* Base styles for the element */
[data-loaded="false"] {
  background: linear-gradient(90deg, rgba(200, 200, 200, 0.7) 0%, rgba(172, 172, 172, 0.05) 50%, rgba(200, 200, 200, 0.7) 100%);
  background-size: 400%;
  animation: loading 5s ease-in-out infinite
}

/* Optional: Add styles for when data is loaded */
[data-loaded="true"] {
  background: none;
  animation: none;
}

/* Background size changes */
@media screen and (max-width: 1750px) {
  body {
    background-position: -34.1vw -32vw;
    background-size: 210vw 129vw;
  }
}

@media screen and (min-width: 2100px) {
  body {
    background-position: -34.1vw -36vw;
    background-size: 210vw 129vw;
  }
}

@media screen and (max-width: 1350px) {
  body {
    background-position: -34.1vw -20vw;
    background-size: 210vw 129vw;
  }
}

@media screen and (max-width: 750px) {
  body {
    background-position: -34.1vw 20vh;
    background-size: 210vw 129vw;
  }
}
