@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

html, body {
  width: 100vw;
  color: #333333;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-repeat: no-repeat;
  background-position: -34.1vw -38vw;
  background-size: 210vw 129vw;
}

/* Disable zoom in iOS Safari when double tapping an element */
button {
  touch-action: manipulation;
}

button:hover {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  width: 0.3em;
  background-color: hsl(218, 14%, 11%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  width: 0.3em;
  scrollbar-color: transparent;
}

.glass-card {
    background: linear-gradient(
        to right bottom,
        rgba(245, 245, 245, 0.55),
        rgba(245, 245, 245, 0.35)
    );
    backdrop-filter: blur(0.9rem);
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/** scrollbar */
*::-webkit-scrollbar {
  height: 0rem;
  width: 0rem;
  -webkit-appearance: none;
  color: transparent;
  background: transparent;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  outline: none;
}

.title {
  text-wrap: balance;
}

/* Custom loader */
/* .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
  radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
  conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{
  from {
    transform: rotate(0turn)
  }
  to {
    transform: rotate(1turn)
  }
} */

.loader {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  margin-left: -20px;
  margin-top: -20px;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}

/* Background size changes */
@media screen and (max-width: 1750px) {
  body {
    background-position: -34.1vw -30vw;
    background-size: 210vw 129vw;
  }
}

@media screen and (min-width: 2100px) {
  body {
    background-position: -34.1vw -44vw;
    background-size: 210vw 129vw;
  }
}

@media screen and (max-width: 1350px) {
  body {
    background-position: -34.1vw -20vw;
    background-size: 210vw 129vw;
  }
}