* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

html {
  margin: 100px;
  overflow-y: overlay;
}

body {
  overflow-x: hidden;
  justify-items: center;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

/* Disable zoom in iOS Safari when double tapping an element */
button {
  touch-action: manipulation;
}

main {
  font-family:
    IBM Plex Sans,
    sans-serif;
  @apply mt-15;
}

body::-webkit-scrollbar {
  width: 0.15em;
  background-color: hsl(0, 0%, 100%);
}

body::-webkit-scrollbar-track {
  width: 0.3em;
  background-color: hsl(218, 14%, 11%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  width: 0.3em;
  background-color: rgb(70, 70, 75);
  outline: 1px solid rgb(58, 62, 67);
  scrollbar-color: rgb(0, 0, 0) rgb(0, 5, 10);
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

p {
  line-height: 1.5;
}

[data-font='ibm-plex-sans'] {
  font-family: 'IBM Plex Sans', sans-serif;
}

:focus:not(:focus-visible) {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  box-shadow: 0 0 0 999px var(--color-gray-100) inset !important;
  background-clip: content-box !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  box-shadow: 0 0 0 999px var(--color-gray-800) inset !important;
  background-clip: content-box !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.125rem;
  font-weight: 500;
  font-family:
    IBM Plex Sans,
    sans-serif;
}

/* I kinda feel like this should be the default... 🤷‍♂️ */
[hidden] {
  pointer-events: none;
}

/* These elements get removed before hydration but they can look funny before hydrating */
dark-mode,
light-mode {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

*::-webkit-scrollbar {
  @apply h-[0.3rem] w-[0.5rem];
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  @apply h-[0.3rem] bg-zinc-800;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  @apply border-20 h-2 rounded-xl border-2 border-red-500 bg-gray-600;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
