---
import BaseLayout from '#/layouts/Layout.astro'

export const prerender = true
---

<BaseLayout viewTransitions={true}>
  <main
    class='mt-8 sm:mt-18 relative flex flex-col items-center text-center mx-auto w-full space-y-6'
  >
    EFP
  </main>
</BaseLayout>

<style></style>
