---
/**
 * This is for first time users who have not yet created an account.
 */
import BaseLayout from '#/layouts/Layout.astro'

export const prerender = true
---

<BaseLayout viewTransitions={true}>
  <main class='flex flex-col items-center text-center mx-auto w-full h-full'>onboarding</main>
</BaseLayout>
